<div class="container pt60">
<h1>Return on Investment</h1>

<%= form_for @investment, :url => dashboard_path do |f| %>

  <div class="control-group">
    <%= f.label :square_feet, :class => "control-label" %>
    <div class="controls">
  		<%= f.text_field :square_feet %>
      <% if @investment.errors[:square_feet].any? %>
          <span class="text-error text-message"><%= @investment.errors[:square_feet].first %></span>
      <% end %>
     </div>   
  </div>
  <div class="clearBoth"></div>
  <div class="control-group">
    <%= f.label :cost_of_property, :class => "control-label" %>
    <div class="controls">
    <%= f.text_field :cost_of_property %>
        <% if @investment.errors[:cost_of_property].any? %>
            <span class="text-error text-message"><%= @investment.errors[:cost_of_property].first %></span>
        <% end %>
     </div>   
  </div>
  <div class="clearBoth"></div>
  <div class="control-group">
    <%= f.label :sale_value_of_property, :class => "control-label" %>
    <div class="controls">
	    <%= f.text_field :sale_value_of_property %>
	        <% if @investment.errors[:sale_value_of_property].any? %>
	            <span class="text-error text-message"><%= @investment.errors[:sale_value_of_property].first %></span>
	        <% end %>
    </div>    
  </div>
  <div class="clearBoth"></div>
  <div class="actions">
    <%= f.submit "Calculate" %>
  </div>
<% end %>

<% if flash[:notice] %>
    <div class="alert-success" id="notice"><%= flash[:notice] %></div>
    <% flash[:notice] = nil %>
<% end %>
</div>
